body {
    background-image: url(assets/sekolah.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    height: 100%;
    margin: 0;
    padding: 0;

}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 15px;
}


.blur-pic {
    height: 100%;
    filter:blur(8px);
    -webkit-filter: blur(8px);
}

.wara {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    opacity: 20%;
}

.main-text {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.navbar {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

li {
    float: left;
    justify-content: center;
}

li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.contentposs {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 20px;
}

.contenttext { 
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}